@import "tailwindcss";
@import "@nuxt/ui";

:root {
  /* paleta de colores YMCA  */
  --color-transparencia: #0082b7; /* Pantone 640 C */
  --color-confianza: #005a8f; /* Pantone 7462 C */
  --color-calidez: #ffb618; /* Pantone 1235 C */
  --color-amabilidad: #ff8e12; /* Pantone 1495 C */
  --color-esperanza: #82bc00; /* Pantone 376 C */
  --color-seguridad: #00933a; /* Pantone 355 C */
  --color-espiritualidad: #775091; /* Pantone 7677 C */
  --color-transformacion: #943d6f; /* Pantone 689 C */
  --color-juventud: #d50053; /* Pantone Strong Red C */
  --color-humildad: #d8d6d4; /* Pantone Cool Gray 1C */
  --color-pasion: #d41f26; /* Pantone 1795 C */
  --color-generosidad: #fb7eb4; /* Pantone 211 C */

  /* paleta de colores funcionales (imprescindibles para fondos, textos, bordes) */
  --color-fondo: #ffffff; /* Blanco puro para fondo */
  --color-fondo-secundario: #f5f5f5; /* Gris claro para secciones */
  --color-texto-principal: #1c1c1c; /* Gris oscuro para textos principales */
  --color-texto-secundario: #666666; /* Gris medio para texto secundario */
  --color-borde: #e0e0e0; /* Gris claro para bordes y divisores */

  /* Paleta de colores Estados del sistema */
  --color-exito: #28a745; /* Verde éxito - Confirmaciones */
  --color-error: #dc3545; /* Rojo error - Validaciones */
  --color-advertencia: #ffc107; /* Amarillo alerta - Warnings */
  --color-info: #17a2b8; /* Azul claro - Informaciones */

  /* paleta de olores de interacción (botones, enlaces, hover, focus) */
  --color-primario: var(--color-confianza); /* Azul principal para botones y enlaces */
  --color-primario-hover: #004070;
  --color-secundario: var(--color-calidez); /* Para botones alternativos */
  --color-secundario-hover: #e6a700;
  --color-focus: #009ee3; /* Para resaltar inputs */

  /*Transparencias útiles (si usas overlays o modales) */
  --overlay-negro: rgba(0, 0, 0, 0.5);
  --overlay-blanco: rgba(255, 255, 255, 0.8);
}

/* Estilos globales */
* {
  padding: 0; /* Eliminar padding por defecto */
  margin: 0; /* Eliminar margen por defecto */
  border: 0; /* Eliminar borde por defecto */
  box-sizing: border-box; /* Incluir padding y borde en el tamaño total */
  font-weight: normal;
}

/* Estilos para imágenes */
img {
  object-fit: contain; /* Ajustar la imagen sin recortarla */
}

/* Estilos para listas */
li {
  list-style: none; /* Eliminar viñetas de listas */
}

/* Estilos para enlaces */
a {
  text-decoration: none; /* Eliminar subrayado de enlaces */
}
